name: Build Example

on:
  push:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest  

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '15'  
    - name: Install dependencies
      run: |
        npm install  

    - name: Bundle the code into a zip
      run: |
        zip -r app.zip .  

    - name: Run unit tests and generate report
      run: |
        npm test -- --reporter=spec
      continue-on-error: false  

    - name: Upload test report as artifact
      if: failure()  
      uses: actions/upload-artifact@v3
      with:
        name: test-report
        path: ./path/to/test-report-directory 
