name: Build Examples

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Build the code
        run: |
          npm install
          npm run build  

      - name: Better Test Reports Action
        uses: mridang/action-test-reporter@v1.7.0

      - name: List files
        run: ls -alhR

      - name: Build Examples
        run: zip -r build.zip . 
