name: build Examples

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Set up JDK 17
        uses: actions/setup-java@v4.
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
          
      - name: unittests maven
        run: mvn test
          
      - name: Install dependencies
        run: npm install

      - name: List files
        run: ls -alhR
        
      - name: Build Examples
        run: zip -r build.zip .
