name: dependencies Examples

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.1

      - name: Setup Node
        uses: actions/setup-node@v6

      - name: List files
        run: ls -alhR
