name: docker Example

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest  

    steps:
    - name: Checkout code
      uses: actions/checkout@v4  

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'  
        
    - name: Install dependencies
      run: npm install 

    - name: Run tests with coverage
      run: npm test -- --coverage --ci --reporters=default --reporters=jest-junit

    - name: Upload test coverage
      uses: mridang/action-test-reporter@v1.7.0
      with:
        coverage-file: ./coverage/lcov-report/index.html
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build and push Docker images
      uses: docker/build-push-action@v6.18.0
